body {
  background-color: rgb(199, 199, 175);
}
.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  
}
.title {
  font-size: 65px;
  margin-bottom: 30px;
}
.count {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}
button {
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  transition: 0.3s;
}
.message {
  font-size: 1rem;
  color: red;
  margin-top: 10px;
}